@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d0f1b;
  overflow: hidden;
}
ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: none;
}

ul li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}

ul li:hover:before {
  opacity: 0.1;
  letter-spacing: 0px;
}

ul li h1 {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  background: #118ab2;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

ul:hover li h1 {
  opacity: 0;
}

ul li h1:hover {
  transform: scale(1.4);
  z-index: 1000;
  opacity: 1;
}

#who:hover {
  background: #06d6a0;
}

#skills:hover {
  background: #fdc90d;
}

#projects:hover {
  background: #ee4266;
}

#brain:hover {
  background: #118ab2;
}

#resume:hover {
  background: #72195a;
}

ul li h1:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  transform: skewX(35deg);
  transition: 0s;
}

ul li h1:hover:before {
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.2s;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3.6s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: line-anim 4s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
